@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}


body {
    background-color: lightgray;
}


.app {
    background-color: azure;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}


.app h1 {
    text-align: center;
    font-size: 25px;
    color: blue;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}


.quiz {
    padding: 20px 0;
}


.quiz h2 {
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}


.btn {
    background: lightgray;
    color: #222;
    font-weight: 500;
    font-size: medium;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    word-spacing: 2px;
}


.btn:hover:not([disabled]) {
    background: gray;
    color: #fff;
}


.btn:disabled {
    cursor: no-drop;
}


#next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 40px;
    cursor: pointer;
    display: none;
}


.correct {
    background: green;
}


.incorrect {
    background: red;
}


#question {
    text-align: center;
    margin-bottom: 3rem;
}

.image{
    width: 100%;
    height: 100vh;
    background-image: url(/App1/App/jonatan-pie-3l3RwQdHRHg-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    
}
.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;

}
.form-box h1{
    font-size: 30px;
    margin-bottom: 59px;
    color: #3c00a0;
    position: relative;
}

.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;

}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;

}

.input-field i{
    margin-left: 15px;
    color: #999;
}

.botton-field{
    width: 100%;
    display: flex;
   align-items: center;
}

.botton-field button{
    flex-basis: 48%;
    background: #3c00a0;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin-left: 85px;
  
}

.botton-field button a{
    color: white;
    text-decoration: none;
}
